@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600&display=swap');

:root {
	--width-principal: 1100px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #ebebeb;
	font-family: system-ui, -apple-system, sans-serif;
}